<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright  &copy; Book Store @DateTime.Now.Year
        <a href="mailto:nitish.webgentle@gmail.com">sonwabilestarzuma@gmail.com</a>
        
        <cutom-email my-email="sonwabilestarzuma@gmail.com"></cutom-email>
    </div>
</footer>