@{ ViewData["Title"] = "Home"; }
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            The pain itself is the love of the pain, the main ecological problems, but I give this kind of time to fall down, so that some great pain and pain.
            For the purpose of coming to a minimum, who of ours should exercise any employment except to take advantage of the consequences from it.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>


<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        @await Component.InvokeAsync("TopBooks", new { count = 3 })

        @*<vc:top-books count="6" ></vc:top-books>*@

    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {
            //alert("document is ready");
        })
    </script>
}